body {
  opacity: 1;
  font-family: "Roboto", sans-serif;
}
.main {
  height: 80vh;
}

//Pages imports
@import "/src/styles/Old.css";
@import "/src/layouts/MainLayout/MainLayout.scss";
@import "/src/pages/Homepage/Homepage.scss";
@import "/src/pages/Post/components/PostComponent.scss";

//Components imports
@import "/src/pages/Homepage/components/CategoriesFilter.scss";
@import "/src/components/PostMui.scss";
@import "/src/pages/Homepage/components/AllPosts.scss";
