.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;

    &:hover {
      background-color: #1c6ea4;
    }

    &:focus {
      outline: none;
    }

    &.active {
      background-color: #1c6ea4;
    }
  }
}
