.post-component {
  margin-block: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__button {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: rgb(250, 35, 62, 0.7);
    color: white;
    border: none;

    &:hover {
      background-color: red;
    }
  }
}
